<footer class="footer clearfix hidden-xs-down">
    <div class="float-xs-left footer-content">
        <img class="footer-logo" [src]="logo" alt="Willis Towers Watson">
        <a class="footer-link" href="#">Terms of Service</a>
        <a class="footer-link" href="#">Privacy Policy</a>
        <a class="footer-link" href="#">Contact Us</a>
    </div>
    <div class="float-xs-right">
        <small class="footer-copyright">&copy; 2017 Willis Towers Watson</small>
    </div>
</footer>
<footer class="footer clearfix hidden-md-up">
    <div class="float-xs-left footer-content">
        <ul>
            <li><img class="footer-logo" [src]="logo" alt="Willis Towers Watson"></li>
            <li><a class="footer-link" href="#">Terms of Service</a></li>
            <li><a class="footer-link" href="#">Privacy Policy</a></li>
            <li><a class="footer-link" href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="text-xs-center">
        <small class="footer-copyright">&copy; 2017 Willis Towers Watson</small>
    </div>
</footer>